/* universal selector */
*{
    font-family: 'Courier New';    
}

/* element selector */
h1,h3{
    color: #b92b27;
}

/* id selector */
#login{
    color: white;
    background-color: blue;
}
#signup{
    color: white;
    background-color:blue;
}

/* class selector */
.upvote{
    color: blue;
    background-color: yellowgreen;
}
/* p a{
    color: blueviolet;
} */

.post a{
    color: purple;
    background-color: yellow;
}

/* decendant selector */
nav ul li{
    color: hotpink;
}

/* adjacent sibling selector */
p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: rgb(25, 12, 209);
    color: aqua;
}

/* child combinator */
div>input{
    color: lightskyblue;
    background-color: salmon;
}

/* attribute selector */
input[type="text"]{
    color: red;
}

input[type="password"]{
    color: green;
}

/* input[type]{ 
    background-color: bisque;
}*/

/* pseudo class */
button:hover{
    color: white;
    background-color: black;
}

button:active{
    color: black;
    background-color: hotpink;
}
p:active{
    font-weight: bolder;
}
input[type="radio"]:checked+label{
    color: red;
}
div:nth-of-type(2n){
   background-color:rgb(111, 186, 111);
}

/* pseudo elements */
h1::first-letter{
    color: black;
}

 p::first-line{
    color: violet;
}

p::selection{
    color: rgb(228, 243, 120);
}

/* inheritance */
button{
    background-color: inherit;

}



