 div{
    height: 200px;
    width: 500px; 
    background-color: thistle;
    border-color: rgb(223, 73, 188);
    border-width: 5px;
    border-style: double;
    border-left:6px solid brown ;
    border-radius: 15px;
    padding: 30px;
    padding: 50px 20px 20px;
    margin: 25px 55px; 
}

 h1{
    background-color: aquamarine;
    border: 2px dashed blue;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 70px;
    margin:10px 30px;
}

button{
    background-color: blue;
    color: black;
    padding: 10px 15px;
    border-radius: 30%;
    height: 60px;
    width: 100px;
    margin: 15px 55px;
}

#outer{
    background-color: aqua;
    border: 2px solid black;
     height: 10px;
     width: 10px;
}

/* diaplay properties of inline and and block  */
 #inner1{
    display: inline;

}
#inner2{
    display: none; 
}

#a{
    background-color: burlywood;
    height: 400px;
    width: 400px;
    margin: 25px;
    font-size: 20px;
}
#b{
    background-color: cadetblue;
    height: 100px;
    width: 100px;
    margin: 10%;
    font-size: 0.5em;
    /* Relative units - em unit  */

}
