h1{
    text-align:center ;
    text-decoration:cornflowerblue double underline;
    font-size:40px ;
    font-family:league 'Times New Roman', Times, serif  ;
    font-weight: bold;
    line-height:2x ;
    letter-spacing:5px;
    color: orange;
    text-transform: uppercase;
}
P{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px;
    text-decoration: chocolate dashed underline;
}